extends layout

block content
  .todoBox
    each list in lists
      .list
        h4= list.name
          input(type="checkbox" checked=list.complete)
          //- form(method='POST' action=`/todos/deletelist/${val.id}`)
          //-   input(type='hidden' value=`${val.name}` name='title')
          //-   button(type='submit') Bring Death!

        .todo
          each todo in list.todos
            .description= todo.description
              input(type="checkbox" checked=todo.complete)
              button(type="submit") X
        form.createNewTodo(method='POST', action='/todos/makeTodo')
          input(type="hidden" value=`${list.todo_id}` name='listIdForTodo')
          input(type="text", placeholder="Make a To-do HERE!", name="todoDesc")
          button(type="submit") Make Tew Dew
