extends layout

block content
  .todoBox
    each list in lists
      .list
        h4= list.name
          input(type="checkbox" checked=list.complete)

        .todo
          each todo in list.todos
            .description= todo.description
              input(type="checkbox" checked=todo.complete)
            .deadline= todo.deadline
        form
          input(type="text", placeholder="Make a To-do HERE!")
          input(type="submit")
